@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    header > nav > span {
        @apply text-lg cursor-pointer;
    }
}

.triangle {
    width: 0;
    height: 0;
    position: relative;
    border-left: 32px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 32px solid white;
    position: absolute;
    right: 0;
    top: -1.5rem;
}
